<h1 class="title-post-custom">{{blog.title}}</h1>

<div class="MovieInfo TPost Single" style="padding-top: 1.125rem;">
    <div class="MvTbCn anmt on" id="MvTb-Trailer">
        <div class="TPlayerCn BgA">
            <div class="EcBgA">
                <div class="TPlayer">
                    <div class="TPlayerTb Current" id="Opt1">
                        <iframe width="560" height="315"
                            src="https://www.youtube.com/embed/{{blog.video}}?si=2gv1cAnK3t9daRFg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                    </div>
                    <span class="AAIco-lightbulb_outline lgtbx-lnk"></span>
                </div>
            </div>
        </div>
    </div>
</div>