<footer class="Footer " style="color: black;">
    <div class="Container">
        <div class="MnBrCn BgA">
            <div class="MnBr EcBgA">
                <div class="Container">
                    <figure class="Logo ">
                        <a href="http://localhost:3000/" title="Xem anime online" rel="home"><img
                                src="/img/studioghibli.jpg" alt="logo"></a>
                    </figure>
                    <div class="Rght">
                        <nav class="Menu">
                            <ul>
                                <li class="">
                                    <a href="http://localhost:3000/">XEM PHIM</a>
                                </li>
                                <li class=""><a href="#">YÊU CẦU ANIME</a></li>
                                <li class=""><a href="#">Chat Anime/Discord</a></li>
                                <li class=""><a href="#">THUẬT NGỮ</a></li>
                                <li class=""><a href="">GROUP THẢO LUẬN</a></li>
                            </ul>
                        </nav>
                        <ul class="ListSocial">
                            <li>
                                <a target="_blank" href="https://www.facebook.com/quynh.khuc195"><i
                                        class="fa-brands fa-facebook" style=""></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/kt_quynh195/"><i
                                        class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.youtube.com/@MixiGaming3con"><i
                                        class="fa-brands fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="WebDescription">
            <p><a href="" rel="dofollow" target="_blank" title="Kanefusa Fansub">Kanefusa
                    Fansub </a>&nbsp;<a href="" target="_blank" title="One Piece - Đảo Hải Tặc">One Piece, Vua Hải
                    Tặc&nbsp;Đảo Hải Tặc</a>&nbsp;
                <a href="" target="_blank" title="Thám Tử Lừng Danh Conan">Thám Tử Lừng Danh Conan</a>&nbsp;<a href="h"
                    target="_blank" title="Hoạt Hình Trung Quốc">Hoạt Hình Trung Quốc</a>
            </p>
        </div>
        <div class="WebDescription">
            Liên Hệ Quảng Cáo: <b>quynhkhuc999@gmail.com</b>
        </div>
        <p class="Copy"><a target="_blank" href="https://animevietsub.io">© Copyright 2024 Ghibli. All rights
                reserved.</a></p>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</footer>