<header class="sticky-top">
    <nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;" data-bs-theme="light">
        <div class="container">
            <a class="navbar-brand" href="#" style="margin-left: 10px;"><img class="rounded float-start "
                    src="/img/studioghibli.jpg" alt="Studio Ghibli"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-lg-3" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Top Anime
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Ngày</a></li>
                            <li><a class="dropdown-item" href="#">Yêu thích</a></li>
                            <li><a class="dropdown-item" href="#">Tháng</a></li>
                            <li><a class="dropdown-item" href="#">Mùa</a></li>
                            <li><a class="dropdown-item" href="#">Năm</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Thể loại
                        </a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a class="dropdown-item" href="/the-loai/action/">Action</a></li>
                            <li><a class="dropdown-item" href="/the-loai/adventure/">Adventure</a></li>
                            <li><a class="dropdown-item" href="/the-loai/cartoon/">Cartoon</a></li>
                            <li><a class="dropdown-item" href="/the-loai/comedy/">Comedy</a></li>
                            <li><a class="dropdown-item" href="/the-loai/dementia/">Dementia</a></li>
                            <li><a class="dropdown-item" href="/the-loai/demons/">Demons</a></li>
                            <li><a class="dropdown-item" href="/the-loai/drama/">Drama</a></li>
                            <li><a class="dropdown-item" href="/the-loai/ecchi/">Ecchi</a></li>
                            <li><a class="dropdown-item" href="/the-loai/fantasy/">Fantasy</a></li>
                            <li><a class="dropdown-item" href="/the-loai/game/">Game</a></li>
                            <li><a class="dropdown-item" href="/the-loai/harem/">Harem</a></li>
                            <li><a class="dropdown-item" href="/the-loai/historical/">Historical</a></li>
                            <li><a class="dropdown-item" href="/the-loai/horror/">Horror</a></li>
                            <li><a class="dropdown-item" href="/the-loai/josei/">Josei</a></li>
                            <li><a class="dropdown-item" href="/the-loai/kids/">Kids</a></li>
                            <li><a class="dropdown-item" href="/the-loai/live-action/">Live Action</a></li>
                            <li><a class="dropdown-item" href="/the-loai/magic/">Magic</a></li>
                            <li><a class="dropdown-item" href="/the-loai/martial-arts/">Martial Arts</a></li>
                            <li><a class="dropdown-item" href="/the-loai/mecha/">Mecha</a></li>
                            <li><a class="dropdown-item" href="/the-loai/military/">Military</a></li>
                            <li><a class="dropdown-item" href="/the-loai/music/">Music</a></li>
                            <li><a class="dropdown-item" href="/the-loai/mystery/">Mystery</a></li>
                            <li><a class="dropdown-item" href="/the-loai/parody/">Parody</a></li>
                            <li><a class="dropdown-item" href="/the-loai/police/">Police</a></li>
                            <li><a class="dropdown-item" href="/the-loai/psychological/">Psychological</a></li>
                            <li><a class="dropdown-item" href="/the-loai/romance/">Romance</a></li>
                            <li><a class="dropdown-item" href="/the-loai/samurai/">Samurai</a></li>
                            <li><a class="dropdown-item" href="/the-loai/school/">School</a></li>
                            <li><a class="dropdown-item" href="/the-loai/sci-fi/">Sci-Fi</a></li>
                            <li><a class="dropdown-item" href="/the-loai/seinen/">Seinen</a></li>
                            <li><a class="dropdown-item" href="/the-loai/shoujo/">Shoujo</a></li>
                            <li><a class="dropdown-item" href="/the-loai/shoujo-ai/">Shoujo Ai</a></li>
                            <li><a class="dropdown-item" href="/the-loai/shounen/">Shounen</a></li>
                            <li><a class="dropdown-item" href="/the-loai/shounen-ai/">Shounen Ai</a></li>
                            <li><a class="dropdown-item" href="/the-loai/slice-of-life/">Slice of Life</a></li>
                            <li><a class="dropdown-item" href="/the-loai/space/">Space</a></li>
                            <li><a class="dropdown-item" href="/the-loai/sports/">Sports</a></li>
                            <li><a class="dropdown-item" href="/the-loai/super-power/">Super Power</a></li>
                            <li><a class="dropdown-item" href="/the-loai/supernatural/">Supernatural</a></li>
                            <li><a class="dropdown-item" href="/the-loai/suspense/">Suspense</a></li>
                            <li><a class="dropdown-item" href="/the-loai/thriller/">Thriller</a></li>
                            <li><a class="dropdown-item" href="/the-loai/tokusatsu/">Tokusatsu</a></li>
                            <li><a class="dropdown-item" href="/the-loai/vampire/">Vampire</a></li>
                            <li><a class="dropdown-item" href="/the-loai/yaoi/">Yaoi</a></li>
                            <li><a class="dropdown-item" href="/the-loai/yuri/">Yuri</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Season
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/season/mua-xuan/">Mùa Xuân</a></li>
                            <li><a class="dropdown-item" href="/season/mua-ha/">Mùa Hạ</a></li>
                            <li><a class="dropdown-item" href="/season/mua-thu/">Mùa Thu</a></li>
                            <li><a class="dropdown-item" href="/season/mua-dong/">Mùa Đông</a></li>
                        </ul>
                    </li>
                    {{#if user.admin}}
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/anime/">Danh sách Anime</a>
                    </li>
                    {{/if}}
                </ul>

                <form class="d-flex col-lg-3 " action="/search/" method="post">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                        name="search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                {{#if user}}
                <li class=" Login nav-item dropdown col-lg-2">
                    <p></p>
                    <a href="" class="a-bell"><i class="fa-solid fa-bell"></i></a>
                    <div class=" fa-user-div">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa-regular fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-Login">
                            <li> <a href="/account/info" class="dropdown-item"><i class="fa fa-user"
                                        aria-hidden="true"></i><span>Thông tin tài
                                        khoản</span></a></li>
                            <li><a href="#" class="dropdown-item"><i class="fa-solid fa-film"></i><span>Hộp
                                        phim</span></a></li>
                            <li><a href="#" class="dropdown-item"><i class="fa fa-history"
                                        aria-hidden="true"></i><span>Lịch
                                        sử</span></a>
                            </li>
                            <li><a href="/logout" class="dropdown-item"><i class="fa fa-power-off"
                                        aria-hidden="true"></i><span>Thoát</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                {{else}}
                <div class="NavBar_actions__nSNzo col-lg-2">
                    <button class="btn btn-outline-primary NavBar_loginBtn"><a href="/v1/auth/">Đăng nhập</a></button>
                </div>
                {{/if}}
                </li>
                {{!-- <li class=" Login nav-item dropdown col-lg-2">
                    <a href="" class="a-bell"><i class="fa-solid fa-bell"></i></a>
                    <div class=" fa-user-div">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false"><i class="fa-regular fa-user"></i></a>
                        <ul class="dropdown-menu dropdown-menu-Login">
                            <li> <a href="#" class="dropdown-item"><i class="fa fa-user"
                                        aria-hidden="true"></i><span>Thông tin tài
                                        khoản</span></a></li>
                            <li><a href="#" class="dropdown-item"><i class="fa-solid fa-film"></i><span>Hộp
                                        phim</span></a></li>
                            <li><a href="#" class="dropdown-item"><i class="fa fa-history"
                                        aria-hidden="true"></i><span>Lịch
                                        sử</span></a>
                            </li>
                            <li><a href="#" class="dropdown-item"><i class="fa fa-power-off"
                                        aria-hidden="true"></i><span>Thoát</span></a>
                            </li>
                        </ul>
                    </div>
                </li> --}}
            </div>
        </div>
    </nav>
</header>
{{!-- Đăng nhập --}}